<div class="container">
  <h2>Notes</h2>
  <form [formGroup]="notesForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="name">Name:</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter name"
        formControlName="name"
      />
      <div
        *ngIf="
          notesForm.controls.name.invalid &&
          (notesForm.controls.name.dirty || notesForm.controls.name.touched)
        "
        class="text-danger"
      >
        <div *ngIf="notesForm.controls.name.errors?.required">
          Name is required.
        </div>
        <div *ngIf="notesForm.controls.name.errors?.restrictedName">
          Name must not be 'admin' or 'administrator'.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="product">Product:</label>
      <select class="form-control" id="product" formControlName="product">
        <option *ngFor="let product of products" [value]="product">
          {{ product }}
        </option>
      </select>
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="hasDiscount"
          (change)="toggleDiscount()"
        />
        Does this product have a discount?
      </label>
    </div>
    <div class="form-group" *ngIf="notesForm.controls.hasDiscount.value">
      <label for="discount">Discount value (in percent):</label>
      <input
        type="number"
        class="form-control"
        id="discount"
        placeholder="Enter discount value"
        formControlName="discount"
      />
    </div>
    <button type="button" class="btn btn-secondary" (click)="addComment()">
      Add another comment
    </button>

    <div class="form-group" *ngFor="let comment of comments">
      <label for="comment">Comment:</label>
      <textarea
        class="form-control"
        id="comment"
        rows="3"
        formControlName="comment"
      ></textarea>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!notesForm.valid">
      Submit
    </button>
  </form>
</div>
